@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.navbar {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 1rem;
  background-color: #FFFFFF;
  color: #111111;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2901960784);
  font-family: "Archivo", sans-serif;
}
.navbar.navbar-desplegado {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2901960784);
}
.navbar__menu {
  display: inline-block;
  width: 18px;
  margin-right: 2rem;
  vertical-align: middle;
  cursor: pointer;
}
.navbar__menu img {
  width: 100%;
}
.navbar__logo {
  display: inline-block;
  text-align: left;
  width: 50%;
  position: relative;
}
.navbar__logo__icon {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111111;
  vertical-align: middle;
  margin-right: 1rem;
  padding: 10px 10px;
  box-shadow: 0px 4px 10px 1px rgba(139, 139, 139, 0.2509803922);
  text-align: center;
}
.navbar__logo__text {
  display: inline-block;
  letter-spacing: 1.5px;
  vertical-align: middle;
  text-align: left;
  width: 50%;
}
.navbar__logo__text__hotel {
  display: block;
  font-size: 0.7rem;
  font-weight: 700;
}
.navbar__logo__text__miranda {
  display: block;
  font-size: 0.7rem;
  color: #111111;
  font-weight: 400;
}
.navbar__iconos {
  margin-top: 0.3rem;
  display: inline-block;
  float: right;
  text-align: center;
}
.navbar__iconos .navbar__icono {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  margin-right: 0.2rem;
  vertical-align: middle;
  cursor: pointer;
}
.navbar__desplegable {
  margin-bottom: 1.4rem;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}
.navbar__desplegable.activo {
  display: block;
  opacity: 1;
  visibility: visible;
}
.navbar__desplegable ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar__desplegable ul li {
  text-align: left;
}
.navbar__desplegable ul li a {
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
  padding-left: 1.2rem;
  color: #111111;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.footer {
  margin-top: 4rem;
  width: 100%;
  display: block;
  position: relative;
}
.footer__background {
  opacity: 2%;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__title {
  display: inline-block;
  padding: 1rem;
}
.footer__title__logo {
  display: inline-block;
  text-align: center;
  background-color: #BEAD8E;
  padding: 0.8rem 1.2rem;
  box-shadow: 0px 1rem 1.5rem 0px rgba(139, 139, 139, 0.1490196078);
}
.footer__title__logo__content {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Archivo";
  font-weight: 700;
  line-height: 2.7rem;
  padding: 0.4rem;
}
.footer__title__text {
  display: inline-block;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 1.6rem;
  letter-spacing: 2.6px;
  font-family: "Archivo";
}
.footer__title__text__hotel {
  font-weight: 700;
}
.footer__title__text__miranda {
  font-weight: 400;
}
.footer__text {
  padding: 2rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #777777;
  font-family: "Archivo";
}
.footer__social {
  display: block;
  padding-left: 1.2rem;
}
.footer__social__item {
  display: inline-block;
  background: #F8F8F8;
  padding: 0.5rem;
  margin-right: 0.6rem;
}
.footer__services__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
  padding: 1.5rem 1rem;
  padding-top: 2rem;
}
.footer__services__lista {
  display: grid;
  gap: 1rem;
  list-style: none;
  padding: 0 1rem;
}
.footer__services__lista__item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
  color: #777777;
}
.footer__services__lista__item:nth-child(-n+6) {
  grid-column: 1;
}
.footer__services__lista__item:nth-child(7) {
  grid-column: 2;
  grid-row: 1;
}
.footer__services__lista__item:nth-child(8) {
  grid-column: 2;
  grid-row: 2;
}
.footer__services__lista__item:nth-child(9) {
  grid-column: 2;
  grid-row: 3;
}
.footer__services__lista__item:nth-child(10) {
  grid-column: 2;
  grid-row: 4;
}
.footer__contact-us {
  padding-top: 1.5rem;
}
.footer__contact-us__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
  padding: 1rem 1rem;
  padding-bottom: 2.5rem;
}
.footer__contact-us__item {
  display: inline-block;
  padding-bottom: 2.75rem;
}
.footer__contact-us__item__icon {
  display: inline-block;
  padding-left: 1rem;
}
.footer__contact-us__item__info {
  display: inline-block;
  padding-left: 1rem;
}
.footer__contact-us__item__info__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.footer__contact-us__item__info__text {
  font-family: "Roboto";
  font-weight: 400;
  padding-top: 0.2rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #777777;
}
.footer__copyright {
  display: block;
  text-align: start;
  padding-top: 1.3rem;
  padding-left: 1.3rem;
  padding-bottom: 1.1rem;
  background-color: #F8F8F8;
}
.footer__copyright__info {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.15rem;
  letter-spacing: -0.5px;
}
.footer__copyright__info__separator {
  padding: 0 0.8rem;
}
.footer__copyright__info-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.15rem;
  letter-spacing: -0.5px;
  padding-bottom: 1.8rem;
}

.ultimate {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: #FFFFFF;
  margin-top: 4.5rem;
  padding: 4.6rem 1.2rem 0;
}
.ultimate__title {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2.8px;
  margin-bottom: 26px;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.ultimate__description {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-bottom: 2.9rem;
}
.ultimate__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ultimate__nav__links {
  background-color: #FFFFFF;
  overflow: visible;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
}
.ultimate__nav__links a:nth-child(1) {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}
.ultimate__nav__links a:nth-child(2) {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  color: #BEAD8E;
  text-decoration: none;
}

.roomsPage {
  padding: 3rem 1.2rem 0;
}
.roomsPage__image img {
  width: 100%;
}
.roomsPage__iconos {
  text-align: center;
}
.roomsPage__iconos__image {
  position: relative;
  transform: translateY(-50%);
  z-index: 9;
}
.roomsPage__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.72px;
  color: #222222;
  text-align: center;
  margin-top: -1.5rem;
}
.roomsPage__description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 24px;
  color: #777777;
  text-align: center;
  padding: 0 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.roomsPage__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.roomsPage__info a {
  text-decoration: none;
  color: #777777;
}
.roomsPage__info p:nth-child(1) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  font-weight: bold;
}
.roomsPage__info p:nth-child(2) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  color: #BDBDBD;
  font-weight: bold;
  margin-bottom: 3.2rem;
}

.ultimate {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: #FFFFFF;
  margin-top: 4.5rem;
  padding: 4.6rem 1.2rem 0;
}
.ultimate__title {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2.8px;
  margin-bottom: 26px;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.ultimate__description {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  vertical-align: top;
  letter-spacing: -1.2px;
  color: #FFFFFF;
  margin-bottom: 2.9rem;
}
.ultimate__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ultimate__nav__links {
  background-color: #FFFFFF;
  overflow: visible;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
}
.ultimate__nav__links a:nth-child(1) {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}
.ultimate__nav__links a:nth-child(2) {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  color: #BEAD8E;
  text-decoration: none;
}

.roomData {
  background: #ffffff;
  text-align: start;
}
.roomData__subtitle {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #777777;
  padding-left: 1.2rem;
  padding-top: 2.7rem;
}
.roomData__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1.44px;
  color: #222222;
  padding-left: 1.2rem;
  padding-top: 0.7rem;
}
.roomData__price {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #BEAD8E;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
}
.roomData__price span {
  font-size: 0.9rem;
}
.roomData__img {
  padding: 1.2rem;
  width: 100%;
}

.checkAvailability {
  font-family: "Archivo";
  text-align: center;
}
.checkAvailability__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: -0.54px;
  color: #222222;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.checkAvailability__form {
  padding: 0 2rem;
  background: #ffffff;
  position: relative;
}
.checkAvailability__form__checkIn, .checkAvailability__form__checkOut {
  width: 100%;
  padding: 0.4rem 0;
  text-align: start;
}
.checkAvailability__form__checkIn__title, .checkAvailability__form__checkOut__title {
  font-weight: 700;
  font-size: 0.875rem;
  color: #222222;
  padding-bottom: 0.7rem;
}
.checkAvailability__form__checkIn__input, .checkAvailability__form__checkOut__input {
  width: 100%;
  border: none;
  border-radius: 0;
  background: #F8F8F8;
  color: #777777;
  padding: 1.3rem 1.4rem;
}
.checkAvailability__form__checkIn__input::-moz-placeholder, .checkAvailability__form__checkOut__input::-moz-placeholder {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #777777;
}
.checkAvailability__form__checkIn__input::placeholder, .checkAvailability__form__checkOut__input::placeholder {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #777777;
}
.checkAvailability__form__button {
  width: 100%;
  border: none;
  border-radius: 0;
  background: #BEAD8E;
  padding-top: 0.5rem;
  padding: 1.5rem 0;
  color: #FFFFFF;
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 2.8px;
  margin-top: 0.7rem;
}
.checkAvailability__info {
  text-align: start;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
  padding: 2.5rem 1.2rem;
}

.amenities {
  width: 100%;
}
.amenities__title {
  width: 100%;
  text-align: start;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  padding-left: 1rem;
  padding-top: 2rem;
}
.amenities__separador {
  background-color: #F1F1F1;
  height: 1px;
  margin: 1rem 1rem 2.2rem 1rem;
}
.amenities__list {
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: column;
  gap: 0.4rem;
  list-style: none;
  padding: 0 1rem;
  margin-bottom: 6rem;
}
.amenities__list__item {
  display: inline-block;
  padding: 0.4rem 0;
}
.amenities__list__item__icon {
  display: inline-block;
}
.amenities__list__item__text {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #777777;
  padding-left: 0.2rem;
}
.amenities__founder {
  text-align: center;
  position: relative;
}
.amenities__founder__photo {
  position: relative;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  overflow: hidden;
}
.amenities__founder__photo__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.amenities__founder__photo__tick {
  position: absolute;
  margin-top: -9.3rem;
  margin-left: 13.4rem;
  height: 3rem;
  width: 3rem;
  background-color: #BEAD8E;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  z-index: 4;
}
.amenities__founder__photo__tick__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.amenities__founder__name {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.9rem;
  letter-spacing: -0.9px;
  color: #222222;
  padding-top: 2rem;
}
.amenities__founder__status {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 2.8px;
  color: #BEAD8E;
  padding-top: 0.9rem;
}
.amenities__founder__description {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
  padding: 0 1rem;
  margin-top: 1.5rem;
  margin-bottom: 7.3rem;
}

.cancellation {
  width: 100%;
}
.cancellation__title {
  width: 100%;
  text-align: start;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  padding-left: 1rem;
}
.cancellation__separador {
  color: #F1F1F1;
  background-color: #F1F1F1;
  height: 1px;
  margin: 1rem 1rem 2.3rem 1rem;
}
.cancellation__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.5rem;
  color: #777777;
  padding: 0 1rem;
  margin-bottom: 7rem;
}

.relatedRooms {
  width: 100%;
}
.relatedRooms__title {
  width: 100%;
  text-align: start;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.875rem;
  padding-left: 1rem;
}
.relatedRooms__separador {
  color: #F1F1F1;
  background-color: #F1F1F1;
  height: 1px;
  margin: 1rem 1rem 1.5rem 1rem;
}
.relatedRooms__slider {
  width: 100%;
}
.relatedRooms__slider__img {
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}
.relatedRooms__info {
  text-align: center;
  width: 100%;
}
.relatedRooms__info__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.72px;
}
.relatedRooms__info__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #777777;
  margin-top: 1rem;
  padding: 0 2rem;
}
.relatedRooms__info__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.relatedRooms__info__info p:nth-child(1) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  font-weight: bold;
}
.relatedRooms__info__info p:nth-child(2) {
  font-family: "Archivo", sans-serif;
  font-style: bold;
  font-size: 1rem;
  line-height: 43px;
  vertical-align: top;
  color: #BEAD8E;
  color: #BDBDBD;
  font-weight: bold;
  margin-bottom: 3.2rem;
}

.contact-cards-container {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin-top: 50px;
}
.contact-cards-container__items__img {
  position: relative;
  left: 35%;
  z-index: 1;
}
.contact-cards-container__items__icon {
  position: relative;
  bottom: 145px;
  z-index: 2;
}
.contact-cards-container__items__text {
  width: 50%;
  position: relative;
  bottom: 185px;
  left: 65px;
  z-index: 2;
}
.contact-cards-container__items__text__title {
  font-family: "Old Standard TT", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222222;
  margin-bottom: 15px;
}
.contact-cards-container__items__text__info {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: #777777;
  width: 200px;
}

.image__container img {
  margin-top: -4rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  margin: 50px 0;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__group {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
}
.form__icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
}
.form__icon--message {
  top: 18%;
  position: absolute;
  left: 10px;
}
.form__input {
  color: #777;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 65px;
  padding: 10px 10px 10px 40px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
}
.form__button {
  font-family: "Archivo";
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2.8px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  width: 217px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 60%;
  max-width: 500px;
  height: 65px;
  text-transform: uppercase;
  border-color: #f8f8f8;
  margin-top: 20px;
}
.form__button:hover {
  transform: scale(1.1);
}
.form #input__message {
  height: 165px;
}
.form #input__message::-moz-placeholder {
  position: relative;
  bottom: 30%;
}
.form #input__message::placeholder {
  position: relative;
  bottom: 30%;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */