@import './components/navbar.scss';
@import './components/footer.scss';
@import './pages/rooms.scss';
@import './pages/roomsDetails.scss';
@import './pages/contact.scss';

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './mixin.scss';
@import './variables.scss';


html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    min-width: 320px
}